<div class="about">
	
<h1>What is Leagcore?</h1>
<h3>League core is a place where players can vote for eachother and write comments. It also provides usefull live stats.</h3>
<h1>Are there any rewards?</h1>
<h3>Yes there is for the most popular. Since this is the meta voting is restricted as the whole app on eu west only. The reward is 10€ for now but it will rise in future.</h3>
<h1>What about harmfull comments?</h1>
<h3>The way the system works, a user wont see any messages unless he wants to. And the wont be public unless the user wants that too. So if there are any inappropriate messages they will most likeyl be ignored and deleted later by the system.</h3>
</div>