<div id="somedialog" class="dialog_main dialog_login">
  <div class="line_dialog">
  <h2><strong>Athorization</h2>
  </div>

  <h3 class="h2_text"><strong>Wrong data</h3>
  <div><button ng-click="closeDialog()"class="action" data-dialog-close>Ok</button></div>
</div>
<div class="login_background">
<div class="login">
  <header class="login-header"><span class="text">sign <span class="in">IN</span></span><span class="loader"></span></header>
  <form class="login-form" autocomplete="off">
    <input type="text" value="" placeholder="Username" ng-model="signin.username" class="login-input" required/>
    <input type="password" value="" placeholder="Password" ng-model="signin.password" class="login-input" required/>
    <button ng-click="login()" class="login-btn">login</button>
  </form>
</div>
<div class="signup signup">
  <header class="signup-header"><span class="text">sign <span class="up">UP</span></span><span class="loader"></span></header>
  <form class="login-form" autocomplete="off">
    <input type="text" value="" placeholder="Username" ng-model="signup.username" class="login-input" required/>

    <input type="password" value="" placeholder="Password" ng-model="signup.password" class="login-input" required/>

      <input type="text" value="" placeholder="summonername" ng-model="signup.summonername" class="login-input" required/>
      <button ng-click="signup()" class="login-btn">login</button>
  </form>
</div>
</div>
 <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
          <div class="mdl-snackbar__text"></div>  
          <button class="mdl-snackbar__action" type="button"></button>
        </div>
