

<div class="content_board">
  <div class="loader" ng-if='loading_data==true'>
    <svg version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
     <path fill="#ff4081" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
      c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
          <animateTransform
             attributeName="transform"
             attributeType="XML"
             type="rotate"
             dur="2s"
             from="0 50 50"
             to="360 50 50"
             repeatCount="indefinite" />
      </path>
     <path fill="#ff4081" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
      c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
          <animateTransform
             attributeName="transform"
             attributeType="XML"
             type="rotate"
             dur="1s"
             from="0 50 50"
             to="-360 50 50"
             repeatCount="indefinite" />
      </path>
     <path fill="#ff4081" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
      L82,35.7z">
          <animateTransform
             attributeName="transform"
             attributeType="XML"
             type="rotate"
             dur="2s"
             from="0 50 50"
             to="360 50 50"
             repeatCount="indefinite" />
      </path>
    </svg>
  </div>
  <div class="row" style="height:50px !important" ng-repeat="users in data | limitTo:8:skip">
    <div class="col-md-2">

          </div>
            <div class="col-md-1">  <div  class="kda_text_main kda_text" >{{users.place}}</div></div>
  <div class="col-md-1">
  <div class="board">
   <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/profileicon/{{users.profile_icon}}.png" style="width: 60px; height: 60px;" class="img_card_main"></img>
  </div>
      </div>
      <div class="col-md-4">
      <div class="board" style="margin-top:20px;">
          {{users.name}}
      </div>
          </div>
          <div class="col-md-2">
          <div class="board">
            <div  class="kda_text_main kda_text" >{{users.votes}}</div>
          </div>
      </div>
  </div>
  <div class="pagination" ng-if="loading_data==false">
    <table>
      <tr>
        <td>
          <div class="" style="height: 50px !important; display:none;" id="decrease_pagination"><button  ng-click="decrease_pagination()" class="kda_text_main kda_text" style="padding-top:0px !important;"><i class="fa fa-arrow-left" aria-hidden="true"></i></button></div>

        </td>
        <td>
          <div class="" style="height: 50px !important;"><button class="kda_text_main kda_text" style="padding-top:0px !important;">{{pagination_number}}</button></div>

        </td>
        <td>
          <div class="  " style="height: 50px !important; " id="increase_pagination"> <button ng-click="increase_pagination()" class="kda_text_main kda_text" style="padding-top:0px !important;"><i class="fa fa-arrow-right" aria-hidden="true"></i></button></div></td>

        </td>
      </tr>
    </table>
  </div>
</div>
<div class="search_result" id="search_result" ng-if="show_search_result==true">
<table>
  <tr>
    <td>
      <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/profileicon/{{summoner_data.profile_icon}}.png" style="width: 60px; height: 60px;" class="img_card_main">
    </td>
    <td>
      </img><b>Name:</b>
    </td>
    <td style="font-weight:bold;">
      {{summoner_data.name}}
    </td>
  </tr>
  <tr>
    <td style="font-weight:bold;">

    </td>
    <td>
        <b>Votes:</b>
    </td>
  <td>
       <div  class="kda_text_main kda_text" >{{summoner_data.votes}}</div>
  </td>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      <b>Place:</b>
    </td>
    <td>
         <div  class="kda_text_main kda_text" >{{summoner_data.place}}</div>
    </td>
  </tr>
</table>
</div>

<div class="search_box" ng-if="show_search==false">



  <form ng-submit="getVotes()" class="search-form">
              <div class="form-group has-feedback">
              <label for="search" class="sr-only">Search</label>
              <input placeholder="summoner" type="text" class="form-control" name="search" id="search"  style="padding-right: 0px;">
              <span class=" form-control-feedback kda_text_main kda_text" style="margin-top: 4px !important;margin-right: 2px;"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <form>
</div>
    <!--Work-->

  <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/main.js"></script>

    <script src="js/segment.min.js"></script>


    <script defer src="js/material.js"></script>
    <script>
    function closePicker() {

        document.getElementById("overlay").className = "overlay";
    }
    function showProgress() {

        document.getElementById("p2").style.visibility = "visible";
    }
    function myFunction() {
        document.getElementById("overlay").className += " open";
    }
    (function() {
      'use strict';
      var snackbarContainer = document.querySelector('#demo-snackbar-example');
      var showSnackbarButton = document.querySelector('#demo-show-snackbar');
      var handler = function(event) {
        showSnackbarButton.style.backgroundColor = '';
      };
      showSnackbarButton.addEventListener('click', function() {
        'use strict';

        var data = {
          message: 'Looking for summoner!',
          timeout: 4000,
          actionHandler: handler,
          actionText: 'Ok'
        };
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
      });
    }());
</script>
</body>

</html>
