




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

   <!--

  Navigation -->
  <div id="ip-container" class="ip-container">
    <header class="ip-header">
      <h1 class="ip-logo">
        Please wait
      </h1>
      <div class="ip-loader">
        <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
          <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
          <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
        </svg>
      </div>
    </header>
  <div id="toggle_main" class="ip-main1">


  <img src="static/logo.png" class="main_logo toggle_main anim"alt="" />
  <div class="index_line  toggle_main_line anim">

  </div>
  <h1 class="index_banner" style="left:37%;">Welcome to <span style="color:rgb(255,64,129);">leaguecore</span></h1>
  <h1 class="index_banner"> </br> the nicer side of the league <span style="color:rgb(255,64,129);">community!</span></h1>
  </div>
<div id="top-image" class="kindred"></div>
      <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate " ></div>
      <div class="input_index anim">


        <form id="main_input ">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <span class="input input--yoshiko">
              <input class="input__field input__field--yoshiko main_input" type="text"  id="sample3" />
              <label class="input__label input__label--yoshiko" for="sample3">
                <span class="input__label-content input__label-content--yoshiko" data-content="summoner name">summoner name</span>
              </label>
            </span>
          </div>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--mini-fab" style="margin-top: 50px;" ng-click="myFunction()">
                     <i class="material-icons">add</i>
                 </button>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--mini-fab" style="margin-top: 50px;" id="demo-show-snackbar" ng-click="showProgress()">
              <i class="material-icons">search</i>
          </button>
          <div class="{{className}}" id="overlay">
                      <div class="overlay-menu">
                          <ul>
                              <li>  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="closePicker()">
                                  <i class="material-icons">add</i>
                              </button></li>
                              <li>  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="closePicker()">
                                  <i class="material-icons">add</i>
                              </button></li>
                              <li>  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="closePicker()">
                                  <i class="material-icons">add</i>
                              </button></li>
                              <li>  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="closePicker()">
                                  <i class="material-icons">add</i>
                              </button></li>
                          </ul>
                      </div>
                  </div>
        </form>
        <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
          <div class="mdl-snackbar__text"></div>  
          <button class="mdl-snackbar__action" type="button"></button>
        </div>
        <button  ng-click="toggle()" class="kda_text_main kda_text trigger" style="padding-top:0px !important;"><i class="fa fa-th-large" aria-hidden="true"></i></button>

    </div>
      <div class="" id="container">
    <header class="intro"> 

       <section class="more_details" id="feature">

      <div class="content1"  ng-if='pagi1==0'>
        <div class="row content_index_row">
          <div class="col-md-1">
        
          </div>
          <div class="col-md-5">
              <img class="screenshot" src="static/leadboard.png" alt="" />
          </div>
          <div class="col-md-4 headlines" >
            View the most <span style="color:rgb(255,64,129);">popular</span> players. You can try be the <span style="color:rgb(255,64,129);">number one</span>  yourself and get <span style="color:rgb(255,64,129);">rewards!</span>
          </div>

          </div>

    
      </div>
           <div class="content1"  ng-if='pagi1==1'>
        <div class="row content_index_row">
          <div class="col-md-1">
        
          </div>
          <div class="col-md-5">
              <img class="screenshot" src="static/match.png" alt="" />
          </div>
           <div class="col-md-4 headlines" >
           Vote for the players that were really <span style="color:rgb(255,64,129);">nice</span> to you or <span style="color:rgb(255,64,129);">carried</span> you, so that their <span style="color:rgb(255,64,129);">good attitude</span> gets <span style="color:rgb(255,64,129);">rewarded</span>. You can even write a <span style="color:rgb(255,64,129);">message</span> to let them know that their good behaviour gets <span style="color:rgb(255,64,129);">appreciated!</span>
          </div>

          </div>

    
      </div>
           <div class="content1"  ng-if='pagi1==2'>
        <div class="row content_index_row">
          <div class="col-md-1">
        
          </div>
          <div class="col-md-5">
              <img class="screenshot" src="static/live.png" alt="" />
          </div>
          <div class="col-md-4 headlines" >
           View the most <span style="color:rgb(255,64,129);">important stats</span> in your live game! </br>
           Find out which lane is the <span style="color:rgb(255,64,129);">most critical</span>, what player will have the <span style="color:rgb(255,64,129);">most impact</span>, who is <span style="color:rgb(255,64,129);">smurfing</span> or <span style="color:rgb(255,64,129);">scripting</span>. If they are any <span style="color:rgb(255,64,129);">premades</span>,  <span style="color:rgb(255,64,129);">OTP's</span> or is someone just trying a new champ and <span style="color:rgb(255,64,129);">much more...</span>
          </div>

          </div>

    
      </div>
      
    </section>
  
      

    <div class="pagi_index">
    <table>
      <tr>
        <td>
          <p id="0"  class="col-md-4 kda_text_more kda_text" style="opacity:0.5;"></p>
        </td>
      </tr>
       <tr>
        <td>
          <p id="1"  class="col-md-4 kda_text_more kda_text" style="opacity:0.5;"></p>
        </td>
      </tr>
       <tr>
        <td>
          <p id="2"  class="col-md-4 kda_text_more kda_text" style="opacity:0.5;"></p>
        </td>
      </tr>
     
    </table>
       
       

</div>


    </header><!-- /intro -->




    <!--Work-->
    </div>
  </div>
  <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/main.js"></script>

    <script src="js/segment.min.js"></script>


    <script defer src="js/material.js"></script>
    <script>

</script>
